<h1>Welcome</h1>

<a href="/add" class="btn btn-info">Add a Decision</a>

<a href="/all" class="btn btn-info">View All Decisions</a>

<h2>Unicorporated Decisions</h2>

<h3>Decisions with Past Review By Dates</h3>

<% if @unincorporated_decisions_past.empty? %>
  <h4>No past decisions which are unincorporated or need review</h4>
<% else %>
  <% @unicorporated_decisions_past.each do |decision| %>
    <a href="/decisions/<%= decision.id %>"><%= decision.name %></a>
  <% end %>
<% end %>

<% if @unincorporated_decisions_past.empty? %>
  <h4>No past decisions which are unincorporated or need review</h4>
<% else %>
  <h3>Unicorporated Decisions with Upcoming Review By Dates</h3>
  <% @unicorporated_decisions_future.each do |decision| %>
    <a href="/decisions/<%= decision.id %>"><%= decision.name %></a>
  <% end %>
<% end %>
