<h1>Welcome</h1>

<a href="/add" class="btn btn-info">Add a Decision</a>

<a href="/all" class="btn btn-info">View All Decisions</a>

<h2>Unicorporated Decisions</h2>

<h3>Decisions with Passed Review By Dates</h3>

<%  %>

<h3>Unicorporated Decisions with Upcoming Review By Dates</h3>
