
<% if !@user.nil? %>
  <h1>Welcome, <%= @user.username %></h1>
  <a href="/add" class="btn btn-info">Add a Decision</a>

  <a href="/logout" class="btn btn-info">Log Out</a>
<% else %>
  <a href="/signup" class="btn btn-info">Sign Up</a>
  <a href="/login" class="btn btn-info">Log In</a>
<% end %>
