<h1>Sign Up</h1>

<div>
  <h2>Enter your username and password to sign up or log in: </h2>
  <form action="/signup" method="post">
    <h3>Sign Up for A New Account</h3>
    <label for="username_signup">Username</label>
    <input type="text" id="username_signup" name="username_signup">
    <label for="password_signup">Password</label>
    <input type="password" id="password_signup" name="password_signup">
    <button type="submit" class="btn btn-info">Sign Up</button>
  </form>


</div>
